<!DOCTYPE html>
<html>

<head>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧑🏾‍🎄</text></svg>">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" width="350" app>
        <v-card-title>Debug</v-card-title>
        <v-card elevation="4" class="ma-2 pa-4">
          <v-card-title>Threads</v-card-title>
          <v-card-text>
            <v-alert v-if="running" color="success" dense>
              <v-progress-circular indeterminate class="mr-6"></v-progress-circular>Running
            </v-alert>
            <v-alert v-else color="grey" dense>Not running</v-alert>
            <v-slider v-model="timeout" label="timeout" hint="seconds" thumb-label dense min="1" max="600"></v-slider>
            <v-slider v-model="period" label="period" hint="seconds" thumb-label dense min="1" max="60"></v-slider>
            <v-slider v-model="tick" label="tick" hint="milli-seconds" step="100" thumb-label dense min="100" max="1000"></v-slider>
          </v-card-text>
          <v-card-actions>
            <v-progress-linear color="success" :buffer-value="ratio*100" rounded stream></v-progress-linear>
          </v-card-actions>
          <v-card-actions>
            <v-progress-linear color="success" :buffer-value="progress*100" rounded stream></v-progress-linear>
          </v-card-actions>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="status">Status</v-btn>
            <v-btn text @click="start">Start</v-btn>
            <v-btn text @click="stop">Stop</v-btn>
          </v-card-actions>
        </v-card>
        <v-card elevation="4" class="ma-2 pa-4">
          <v-card-title>WebSocket</v-card-title>
          <v-card-text>
            <v-alert v-if="readyState" type="success" dense>Connected</v-alert>
            <v-alert v-else type="error" dense>Not connected</v-alert>
            <v-text-field label="Message" outlined dense v-model="message"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-switch v-model="debug" insert color="success"></v-switch>
            <v-btn text @click="send_message">Send</v-btn>
          </v-card-actions>
        </v-card>
      </v-navigation-drawer>

      <v-app-bar app elevation=10>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title><h1></h1>rpi-ws281x-hub 🧑🏾‍🎄</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon v-if="locale != locales[1]" @click="change_locale(1)"> en </v-btn>
        <v-btn icon v-else @click="change_locale(0)"> fr </v-btn>
        <v-btn icon @click="invert_colors">
          <v-icon>mdi-invert-colors</v-icon>
        </v-btn>
      </v-app-bar>

      <v-main class="align-center">
        <v-container class="mt-6">
          <v-card class="mx-auto" elevation="10" max-width="450" outlined>
            <v-list-item>
              <v-list-item-content>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vue-i18n@8"></script>
  <script>
    const messages = {
      en: {
        inside: "Inside",
        outside: "Outside",
        chart: "Chart"
      },
      fr: {
        inside: "Interieur",
        outside: "Exterieur",
        chart: "Graphique"
      },
    };
    const i18n = new VueI18n({ messages: messages });
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: { dark: localStorage.getItem("dark") || false },
        treeShake: true
      }),
      i18n: i18n,
      data: () => ({
        drawer: localStorage.getItem("drawer") || true,
        locale: localStorage.getItem("locale") || "fr",
        locales: ["fr", "en"],
        websocket: null,
        readyState: false,
        running: null,
        period: 10,
        timeout: 60,
        tick: 100,
        ratio: 0,
        progress: 0,
        debug: null,
        message: null,
      }),
      computed: {
      },
      methods: {
        invert_colors: function () {
          this.$vuetify.theme.dark = !this.$vuetify.theme.dark
          localStorage.setItem("dark", this.$vuetify.theme.dark)
        },
        send_message: function () {
          this.websocket.send(this.message)
        },
        on_open: function (event) {
          console.log("on_open", event)
          this.readyState = true
        },
        on_close: function (event) {
          console.log("on_close", event)
          this.readyState = false
        },
        on_message: function (event) {
          let data = event.data
          try {
            json = JSON.parse(data)
            this.running = json.running || null
            this.ratio = json.state.ratio || 0
            this.progress = json.state.progress || 0
          }
          catch {
            console.log("on_message", event)
          }
          if(this.debug)
            console.log(data)
        },
        status: function () {
          fetch("/")
            .then(response => response.json())
            .then(data => {
              console.log("status", data)
              this.on_message({ data: JSON.stringify(data) })
            })
        },
        start: function () {
          fetch(`/start?period=${this.period}&timeout=${this.timeout}&tick=${this.tick / 1000}`)
        },
        stop: function () {
          fetch("/stop")
        },
        change_locale: function (index) {
          this.locale = this.locales[index]
          this.$i18n.locale = this.locale;
          localStorage.setItem("locale", this.locale)
        }
      },
      watch: {
      },
      created() {
        this.$i18n.locale = this.locale
        this.websocket = new WebSocket(`${window.location.origin}/ws`.replace("http", "ws"))
        this.websocket.onmessage = this.on_message
        this.websocket.onopen = this.on_open
        this.websocket.onclose = this.on_close
      },
      mounted() {
        this.status()
      }
    })
  </script>
  <style lang="scss" scoped>
    @import 'variables.scss'
  </style>
</body>

</html>