[Unit]
Description={{service_name}}-service
After=network.target

[Service]
ExecStart={{service_name}}
WorkingDirectory={{working_directory}}

[Install]
WantedBy=multi-user.target