// assets/variables.scss
// Variables you want to modify
$progress-circular-rotate-animation: progress-circular-rotate 0.1s linear infinite !default;
$progress-circular-rotate-dash: progress-circular-dash 0.1s ease-in-out infinite !default;
$progress-circular-overlay-transitio: all 0.1s ease-in-out !default;
$process-circular-intermediate-svg-transition: all 0.1s ease-in-out !default;